{% extends "base.html" %}

{% block content %}
<h2 class="mt-3">Tu Carrito</h2>

{% if items %}
<table class="table table-striped border shadow">
    <thead>
        <tr>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Total</th>
        <th scope="col">Accion</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.nombre }}</td>
            <td>${{ item.precio | price_format}}</td>
            <td>{{ item.cantidad }}</td>
            <td>${{ item.total | price_format }}</td>
            <td>
                <form action="{{ url_for('main.modificarCarrito', product_id=item.id, action='decrease') }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-sm">
                        <i class="fa-solid fa-minus"></i>
                    </button>
                </form>
                <form action="{{ url_for('main.modificarCarrito', product_id=item.id, action='increase') }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-sm">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </form>
                <form action="{{ url_for('main.modificarCarrito', product_id=item.id, action='remove') }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    <!-- Total del carrito -->
    <div class="mt-3">
    <h4 class="text-center">${{ items | map(attribute='total') | sum | price_format }} ARS</h4>

    <a href="{{url_for('main.compra', carrito_id=carrito_id) }}" class="btn btn-success w-100 mt-3">Comprar</a>
    <a href="{{url_for('main.checkout', carrito_id=carrito_id) }}" class="btn btn-success w-100 mt-3">Comprar con MP</a>
    </div>
{% else %}
    <p>Your cart is empty.</p>
{% endif %}
 
{% endblock %}

{% block js %}
<script>
    
</script>
{% endblock %}

{% block css %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f8f8;
    }

    header {
        background-color: #333;
        color: white;
        padding: 10px 20px;
        text-align: center;
    }

    .container {
        padding: 20px;
        margin: 0 auto;
        max-width: 800px;
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .cart-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    .cart-table th,
    .cart-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    .cart-table th {
        background-color: #f2f2f2;
    }

    .cart-total {
        text-align: right;
    }

    .checkout-btn {
        background-color: #28a745;
        color: white;
        border: none;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 1em;
        cursor: pointer;
        display: inline-block;
    }

    .checkout-btn:hover {
        background-color: #218838;
    }

    .remove-btn {
        background-color: #dc3545;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
    }

    .remove-btn:hover {
        background-color: #c82333;
    }
</style>
{% endblock %}
