{% extends "base.html" %}

{% block content %}
<main class="form-signin w-100 m-auto">
  <form role="form" method="post" action="">
    {{ form.csrf_token }}
    <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>

    <div class="form-floating">
      {{ form.name(placeholder="nombre", class="form-control mb-2") }}
      {{ form.name.label }}
        {% if form.name.errors %}
          {% for error in form.name.errors %}
          <div class="alert alert-danger" role="alert">
            {{ error }}
          </div>
          {% endfor %}
        {% endif %}
    </div>
    <div class="form-floating">
      {{ form.password(placeholder="password", class="form-control mb-2") }}
      {{ form.password.label }}
        {% if form.password.errors %}
          {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
          {% endfor %}
        {% endif %}
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
  </form>
</main>

{% endblock %}